@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&family=Poppins:wght@100;200;300&family=Roboto+Slab:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;

}
html{
    font-size: 62.5%;
}
body{
    background-color:#ffffff ;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
}
nav{
    font-family: 'Poppins', sans-serif;
    width: 100%;

}
nav ul{
    display: flex;
    list-style-type:none;
    align-items: center;
    height: 6vh;
    background-color: #141850 ;
    color: white;
    position: sticky;
    text-align: right;
    
    
}
nav ul li{
    padding: 0 0.6rem;
    
    
}

.logo img{
    width: 35px;
    transition: 2s;
    border-radius: 30px;
    margin: 1rem 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 0 6px;
    color: #f5cac2;
}
.navbar{
    transition:all 0.3s ease ;
}
.navbar:hover{
    transform: scale(1.2);
}
.logos img{
    width: 35px;
    height: auto;
    border-radius: 32px;
    padding: 10px 5px;
}
.bottom logos{
    display: flex;
    align-items: center;
}
.bottom{
    position:sticky;
    height:fit-content;
    align-items: center;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    background-color: #141850;
    padding-left: 7rem;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer ul{
    list-style-type: none;
    font-size: 1.2rem;
}
.footer {
    padding :2rem 0rem;
    margin:auto;
}
.footer_col{
    width: 18%;
    padding: 0 1rem;

}
.footer_col h4{
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
    color: #fae5df;
    font-weight: 500;
    position: relative;
}
.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #ed7966;
    height: 2px;
    box-sizing: border-box;
    width: 3rem;
    bottom: -1rem;
}
.footer_col ul li:not(:last-child){
    margin-bottom:1rem;
}
.footer_col ul li a{
    font-size: 1.2rem;
    color: #ffffff93;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
    text-decoration: none;
    transition:all 0.3s ease ;
}
.service a{
    text-decoration: none;
    color:#141850 ;
}
.footer_col ul li a:hover{
    color: #ffffff;
    padding-left: 0.6rem;

}
.footer_col .socialLinks a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #303179;
    text-align: center;
    border-radius: 32px;
    line-height: 2.9rem;
    color: #ffffff;
    transition:all 0.5s ease ;

}
.footer_col .socialLinks a:hover{
    color:#141850;
    background-color: #ffffff;
}
.navbar{
    display: flex;
    border-color: white;
    border-right: solid;
    border-width: 1px;
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color:whitesmoke
}
.container{
    width: 90%;
    padding: 0 1rem;
    margin:1rem auto;
    background-color:  #fae5df ;
    padding-top: 3rem;
    height: fit-content;

}

.container h1{               
    text-align: center;
    font-size: 3rem;
    font-weight: 600;
}
hr{
    height: 3.5px;
    width: 10rem;
    background-color: rgb(150, 4, 4);
    border-style: none;
    margin: auto;
    margin-bottom: 2rem;
    
}

button{
    border:1px;
    color: rgb(0, 0, 0);
    padding: 0.8rem 5rem;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: 3px 0rem;
    cursor: pointer;
    border-style: double;
    background-color:rgb(72, 167, 230);
    font-weight: bolder;
    font-family: 'Poppins', sans-serif;
    transition: 1.2s;
    
}

button:hover{
    background-color: rgb(0, 0, 0);
    color: white;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),  0 16px 16px 0 rgba(0,0,0,0.19);
}
.rows{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 3rem;
}
.service{
    text-align: center;
    padding: 5rem 1rem;
    cursor: pointer;
    background: transparent;
    margin-bottom: 2rem;
}
.service i{
    font-size: 5rem;
    margin-bottom: 2rem;
    color: #141850;
    
}
.service:hover{
    background-color: #f5cac2;
    color: #141850;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),  0 16px 16px 0 rgba(0,0,0,0.19);
    
}
.service:hover i{
    color: #141850;
}
.service h2{
    font-weight: 600;
    margin-bottom: .8rem;
}
@media(max-width:700px){
    .footer_col ul li a{
        font-size: 0.6rem;
        color: #ffffff93;
        font-weight: 300;
        display: block;
        color: #bbbbbb;
        text-decoration: none;
        transition:all 0.3s ease ;
    }
    .footer_col .socialLinks a{
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: rgba(255,255,255,0.2);
        text-align: center;
        border-radius: 32px;
        line-height: 2.2rem;
        color: #ffffff;
        transition:all 0.5s ease ;
    
    }
    .footer_col h4::before{
        content: '';
        position: absolute;
        left: 0;
        background-color: rgb(150, 4, 4);
        height: 1.2px;
        box-sizing: border-box;
        width: 3rem;
        bottom: -1rem;
    }
    .footer_col h4{
        font-size: 1rem;
        margin-bottom: 3.5rem;
        color: antiquewhite;
        font-weight: 500;
        position: relative;
    }
    .button {
        border:0.8px;
        color: rgb(0, 0, 0);
        padding: 0.8rem 1rem;
        text-align: center;
        display: inline-block;
        font-size: 1rem;
        margin: 2.5px 1.2px;
        cursor: pointer;
        border-style: double;
        background-color:rgb(72, 167, 230);
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
    }
    hr{
        height: 2px;
        width: 7rem;
        background-color: rgb(150, 4, 4);
        border-style: none;
        margin: auto;
        margin-bottom: 1.5rem;
        
    }
    .service{
        text-align: center;
        padding: 3rem .5rem;
        cursor: pointer;
        background: transparent;
        margin-bottom: 1.5rem;
    }
    nav ul{
        display: flex;
        list-style-type:none;
        align-items: center;
        height: 6vh;
        background-color: #141850 ;
        color: white;
        position: sticky;
        font-size: 0.9rem;
        
        
    }
    
}

