@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&family=Poppins:wght@100;200;300&family=Roboto+Slab:wght@700&display=swap');
body{
    background-color:#ffffff ;
    font-size: 1.4rem;
    font-family: 'Poppins', sans-serif;
    color: #141850;
}
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
nav{
    font-family: 'Poppins', sans-serif;;
    width: 100%;
    

}
nav ul{
    display: flex;
    list-style-type:none;
    align-items: center;
    height: 6vh;
    background-color: #141850 ;
    color: white;
    position: sticky;
    text-align: right;
    
    
}
nav ul li{
    padding: 0 0.6rem;
    
}
.logo img{
    width: 35px;
    transition: 2s;
    border-radius: 30px;
    margin: 1rem 1rem;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 0 6px;
    color: #f5cac2;
}
.navbar{
    transition:all 0.3s ease ;
}
.navbar:hover{
    transform: scale(1.2);
}
.navbar{
    display: flex;
    border-color: white;
    border-right: solid;
    border-width: 1px;
    display: inline-block;
}
.navbar a{
    text-decoration: none;
    color:whitesmoke
}
.logos img{
    width: 35px;
    height: auto;
    border-radius: 32px;
    padding: 10px 5px;
}
.bottom logos{
    display: flex;
    align-items: center;
}
.bottom{
    position:sticky;
    height:fit-content;
    align-items: center;
    color: antiquewhite;
    font-family: 'Poppins', sans-serif;
    background-color: #141850;
    padding-left: 7rem;
    
    
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer ul{
    list-style-type: none;
    font-size: 1.2rem;
}
.footer {
    padding :2rem 0rem;
    margin:auto;
}
.footer_col{
    width: 18%;
    padding: 0 1rem;

}
.footer_col h4{
    font-size: 1.6rem;
    margin-bottom: 3.5rem;
    color: antiquewhite;
    font-weight: 500;
    position: relative;
}
.footer_col h4::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #ed7966;
    height: 2px;
    box-sizing: border-box;
    width: 3rem;
    bottom: -1rem;
}
.footer_col ul li:not(:last-child){
    margin-bottom:1rem;
}
.footer_col ul li a{
    font-size: 1.2rem;
    color: #ffffff93;
    font-weight: 300;
    display: block;
    color: #bbbbbb;
    text-decoration: none;
    transition:all 0.3s ease ;
}
.footer_col ul li a:hover{
    color: #ffffff;
    padding-left: 0.6rem;

}
.footer_col .socialLinks a{
    display: inline-block;
    height: 30px;
    width: 30px;
    background-color: #303179;
    text-align: center;
    border-radius: 32px;
    line-height: 2.9rem;
    color: #ffffff;
    transition:all 0.5s ease ;

}
.footer_col .socialLinks a:hover{
    color:#141850;
    background-color: #ffffff;
}

.container{
    width: 80%;
    margin: 5rem auto;
    
}
.contact-box{
    background-color: #fae5df;
    display: flex;

}
.contact-box:hover{
    background-color: #f5cac2;
}
.contact-left{
    padding: 40px 60px;
}
.contact-right{
    padding: 40px;
    background-color: #ed7966;
    transition: 1.1s;
}
h1{
    margin-bottom: 10px;
}
.container p{
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.input-row .input-group{
    flex-basis: 45%;
    


}
input{
    width: 70%;
    border: none;
    border-bottom: 1px solid #ccc;
    outline: none;
    padding-bottom: 5px;
    font-size: 1.1rem;
}
textarea{
    width: 100%;
    border: 1px solid #ccc;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
}
.textarea{
    font-family: 'Poppins','sans-serif';
    font-size: 1rem;
}

label{
    margin-bottom: 6px;
    display: block;
    color: #303179;
    font-size: 1.4rem;
}
.button {
    border:1px;
    color: rgb(255, 255, 255);
    padding: 0.8rem 1rem;
    text-align: center;
    display: inline-block;
    font-size: 1.5rem;
    margin: 3px 1.5px;
    cursor: pointer;
    background-color:#ed7966;
    font-family: 'Poppins', sans-serif;
    border-radius: 3px;
    border-style: solid;
    border-color: #141850;
    font-weight: 600;
}
.button:hover{
    background-color: #141850;
    color: white;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),  0 16px 16px 0 rgba(0,0,0,0.19);
}
.contact-left h3{
    color: #303179;
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 2rem;

}

.contact-right h3{
    
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 2rem;
    

}

tr rd:first-child{
    padding-right: 30px;

}
.contact-right .contact a{
    height: 30px;
    width: 30px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 32px;
    line-height: 2.9rem;
    color: #141850;
    transition:all 0.5s ease ;

}
.contact a{
    margin: 0 6px;
}
.contact{
    display: flex;
    font-size: 1.3rem ;
    

}
.contact-right .contact a:hover{
    background-color: #141850;
    color:white;
}

.contact-box{
    min-height: 60vh;
}
.template{
    width: 97%;
    text-align: center;
    transition: 1.2s;
    background-color: #fae5df;
    height: fit-content;
    padding: 1rem 1rem;
    margin: 5rem auto;
    align-items: center;
    font-size: 1.6rem;
}
.template p h2{
    font-weight: bolder;
    font-size: 2.2rem;
}
.template:hover{
    background-color: #f5cac2;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),  0 16px 16px 0 rgba(0,0,0,0.19);
    font-weight: bolder;
}
.heading {
    margin: 5px 5px;
    font-weight: bold;
}
.formCaption{
    font-size: 2.2rem;
}

@media(max-width:700px){
    .footer_col ul li a{
        font-size: 0.6rem;
        color: #ffffff93;
        font-weight: 300;
        display: block;
        color: #bbbbbb;
        text-decoration: none;
        transition:all 0.3s ease ;
    }
    .footer_col .socialLinks a{
        display: inline-block;
        height: 20px;
        width: 20px;
        background-color: rgba(255,255,255,0.2);
        text-align: center;
        border-radius: 32px;
        line-height: 2.2rem;
        color: #ffffff;
        transition:all 0.5s ease ;
    
    }
    .footer_col h4::before{
        content: '';
        position: absolute;
        left: 0;
        background-color: rgb(150, 4, 4);
        height: 1.2px;
        box-sizing: border-box;
        width: 3rem;
        bottom: -1rem;
    }
    .footer_col h4{
        font-size: 1rem;
        margin-bottom: 3.5rem;
        color: antiquewhite;
        font-weight: 500;
        position: relative;
    }
    .container{
        font-size: 1rem;
    }
    .button {
        border:0.8px;
        color: #141850;
        padding: 0.8rem 1rem;
        text-align: center;
        display: inline-block;
        font-size: 1rem;
        margin: 2.5px 1.2px;
        cursor: pointer;
        border-style: double;
        background-color:#ed7966;
        font-weight: bolder;
        font-family: 'Poppins', sans-serif;
      }
    nav ul{
        display: flex;
        list-style-type:none;
        align-items: center;
        height: 6vh;
        background-color: #141850 ;
        color: white;
        position: sticky;
        font-size: .9rem;
        
        
        
    }
    .contact-left h3{
        color: #303179;
        font-weight: 600;
        margin-bottom: 30px;
        font-size: 1.9rem;
    
    }
    .contact-right{
        padding: 40px;
        background-color: #ed7966;
        color: #141850;
        transition: 1.1s;
        font-size: 1.0rem;
    }
    .template{
        width: 97%;
        text-align: center;
        transition: 1.2s;
        background-color: #fae5df;
        height: fit-content;
        padding: 1rem 1rem;
        margin: 5rem auto;
        align-items: center;
        font-size: 1rem;
        
        
    }
    .template:hover{
        background-color: #f5cac2;
        box-shadow: 0 16px 16px 0 rgba(0,0,0,0.2),  0 16px 16px 0 rgba(0,0,0,0.19);
        font-weight: bolder;
    }
    .template p h2{
        font-size: 1.6rem;
    }
    .contact-box{
        background-color: #fae5df;
        display: grid;
        
    
    }

    
}
