@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&family=Roboto+Slab:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500&family=Merriweather:wght@300&family=Playfair+Display:wght@400;600&display=swap');
body{
    background-color: antiquewhite;
    
}
html{
    font-size: 62.5%;
}
*{
    padding: 0;
    margin: 0;
}
nav{
    font-family: 'Roboto Slab', serif;
    width: 100%;

}
nav ul{
    display: flex;
    list-style-type:none;
    align-items: center;
    height: 6vh;
    background-color: black ;
    color: white;
    border-style: groove;
    border-width: 5px;
    border-color: grey;
    border-left: none;
    border-right: none;
    position: sticky;
    
    
}
nav ul li{
    padding: 0 0.6rem;
    
}
.logo img{
    width: 35px;
    
    border-radius: 30px;
}
.logo{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.4rem;
    padding: 0 6px;
    color: rgb(8, 186, 240);
}
.navbar{
    font-size: 1rem;
}
.container{
    min-height:60vh;
    background-color: black;
    color: black;
    font-family: 'Playfair Display', serif;
    display: flex;
    margin: 10px auto;
    width: 70%;
    height: fit-content;
    border-radius: 20px;
    padding: 34px;
    background: url('bgimage.jpg') no-repeat;
    background-size: cover;
    
}
.bottom{
    position:sticky;
    height: 55px;
    background-color: black;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: antiquewhite;
    font-family: 'Playfair Display', serif;
    border-style: groove;
    border-width: 5px;
    border-color: grey;
    border-bottom: none;
    border-left: none;
    border-right: none;
    position: sticky;
    
}

.container standard{
    
    
    color :white;
    
    margin: 0px 0.5px;
    border-radius: 10px;
    border-style: groove;
    border-width: 10px;
    border-color: rgb(1, 5, 15);
    
    
}
.standard{
    height: 55vh;
    width: 25vw;
    background-color:rgb(155, 224, 141);
    color: black;
    margin :0.5px 0.5px;
    border-radius: 10px;
    border-style: groove;
    border-color: rgb(8, 172, 16);
    border-width: 0.2px;
    text-align: center;
    opacity: 0.8;
    

    
    
}
.standard img{
    
    width: 65px;
    margin: 10px 10px;
    border-radius: 5px;
    
}

.button {
    border:3px;
    color: rgb(2, 52, 65);
    padding: 0.8rem 1rem;
    text-align: center;
    display: inline-block;
    font-size: 1.5;
    margin: 3px 1.5px;
    cursor: pointer;
    border-style: double;
    background-color: aqua;
    border-radius: 1.6rem;
    font-weight: bolder;
    font-family: 'Roboto Slab', serif;
  }
  .container1{
    min-height:5vh;
    color: black;
    font-family: 'Playfair Display', serif;
    margin: 23px auto;
    width: 70%;
    border-radius: 10px;
    padding: 34px;
    background: url('bgimage1.jpg') no-repeat;
    
    align-items: center;
    opacity: 0.9;
    text-align: center;
    background-size: cover;
}
.container1 register{
    font-size: 1.8rem;
}
hr.new1 {
    border-top: 2px double rgb(38, 144, 214);
  }
